<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="javascripts/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/sweetalert.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/base.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css"/>
    <title><%= title %></title>
</head>
<body>
<div id="login">
    <h1>登录</h1>
    <form id="user_login" method="post">
        <div class="div-s1">
            <input type="text" id="account" required="required" name="account" placeholder="用户名"/>
        </div>
        <div class="div-s1">
            <input type="password" id="password" required="required" name="password"  placeholder="密码"/>
        </div>
        <div class="div-s1">
            <div class="left-btn">
                <button class="btn" type="submit" id="signIn">登录</button>
            </div>
            <div class="right-btn">
                <button class="btn" type="submit" id="signUp">注册</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    $('#signUp').click(function (e) {
        e.preventDefault()
        location.href = 'register';
    });
    $('#signIn').click(function (e) {
        var account = $("#account").val();
        var password = $("#password").val();
        var userInfo = {"account":account,"password":password};
        e.preventDefault();
        $.ajax({
            url:'/signIn',
            type:'post',
            data: userInfo,
            dataType: "json",
            success: function(data){
                if(data.status == '10'){
                    swal({
                        title:"",
                        text:"登录成功",
                        type:"success",
                        showConfirmButton:false,
                        width: 300,
                        padding: 10,
                        background: "#F5F5F5",
                        timer:1000
                    },function() {
                        location.href = '/forum'
                    });


                } else {
                    swal({
                        title:"",
                        text:"用户名或密码错误",
                        type:"error",
                        showConfirmButton:false,
                        width: 300,
                        padding: 10,
                        background: "#F5F5F5",
                        timer:1500
                    });
                }
            },
            error: function(data) {
                swal({
                    title:"",
                    text:"发生未知错误",
                    type:"error",
                    showConfirmButton:false,
                    width: 300,
                    padding: 10,
                    background: "#F5F5F5",
                    timer:1500
                });

            },
        });
    });

</script>
</html>